@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave-motion {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(15px); 
    }
  }
  
  .wave-animation {
    width: 100%;
    animation: wave-motion 3s ease-in-out infinite; 
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #b0b0b0;
    border-radius: 10px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #888;
  }
