@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave-motion {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(15px); 
    }
  }
  
  .wave-animation {
    width: 100%;
    animation: wave-motion 4s ease-in-out infinite; 
  }